# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*venv/
.env

# Node
/frontend/app/node_modules
dist
dist-ssr
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE / OS
.vscode/
.idea/
.DS_Store
